#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

/* z-index : 레이어의 순서를 줄수있음 
순서가 높을수록 위에 쌓이는것임*/
#chat-screen .alt-header {
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 3, 0.2);
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.9;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 3px;
  margin-right: 5px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 3px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

/* order는 flex children에게만 적용된다.
이것을 활용해서 flip할 수 있다.  */
/* 하지만 이것은 코드가 길어질수있다. */
/* .message-row--own .message__bubble {
  order: 1;
}

.message-row--own .message__time {
  order: 0;
} */

/* 이렇게하면 뒤집을 수 있다 이것역시 flex
인것들을 반대로 뒤집는것이다 */
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  /* first, last를 준 후에 100%가능 */
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

/* direct로 하기 위해 > 사용 */
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -15px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 30px;
  top: 10px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
