.screen-header__icons__dot {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  position: absolute;
  right: 15px;
  top: 40px;
}

.recommended-friends {
  margin: 22px 0px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--font-color);
}
.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--font-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  /* will-change : 브라우저에게 랜더링 힌트를줘서
  element에 실행 되길 기대하는 변화를 명시한다.
  즉, 브라우저에게 어떤게 변할것인지 명확히 말해줘서
  다른것들이 변화하지않고 애니매이션을 개선해준다.
  브라우저를 도와주는것이다. 변하는것이 무언ㅅ인지
  확실히 말해주고 GPU가 가속하게된다. 
  즉, 그래픽 카드를 이요해서 애니메이션을 가속화한다. */
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

#find__contacts {
  text-align: center;
}
