.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 25px;

  /*  */
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #2e363e;
}
