.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  font-size: 17px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
