.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  font-size: 17px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__melon {
  display: flex;
  border: 1px solid #00c63a;
  border-radius: 10px;
  padding: 2px 5px;
  margin-left: 100px;
}
.fa-play {
  margin-top: 3px;
  margin-left: 3px;
  color: #00c63a;
  opacity: 50%;
}

.user-component__melon__friends {
  display: flex;
  border: 1px solid #00c63a;
  border-radius: 10px;
  padding: 2px 5px;
  margin-left: 160px;
}
